[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-extensions = "*"
whitenoise = "*"
django-cors-headers = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
